<div class="flex flex-col items-center justify-start gap-8 p-8">
  <button
    type="button"
    class="px-4 py-2 text-sm font-semibold border rounded border-sky-400 bg-gradient-to-br from-sky-300 to-blue-100"
    (click)="goToSpotList()"
  >
    Return to spot list
  </button>
  <div *ngIf="isLoading">Loading...</div>
  <div
    *ngIf="!isLoading && spot"
    class="container flex flex-col items-center justify-start w-full gap-8 md:w-2/3"
  >
    <h3 class="text-2xl font-semibold">{{ spot.name }}</h3>
    <table class="w-full table-auto md:w-4/5">
      <tbody>
        <tr>
          <td class="px-4 py-4 border md:px-8">Accessible by Cycling?</td>
          <td class="px-4 py-4 font-bold border md:px-8">
            {{ spot.cyclingAccessibility ? "Yes" : "No" }}
          </td>
        </tr>
        <tr>
          <td class="px-4 py-4 border md:px-8">Longitude</td>
          <td class="px-4 py-4 font-bold border md:px-8">
            {{ spot.longitude }}
          </td>
        </tr>
        <tr>
          <td class="px-4 py-4 border md:px-8">Latitude</td>
          <td class="px-4 py-4 font-bold border md:px-8">
            {{ spot.latitude }}
          </td>
        </tr>
        <tr *ngIf="spot.cyclingAccessibility">
          <td class="px-4 py-4 border md:px-8">Distance</td>
          <td class="px-4 py-4 font-bold border md:px-8">
            <span *ngIf="spot.distanceInKilometers"
              >{{ spot.distanceInKilometers.toFixed(2) }} km</span
            >
            <span *ngIf="!spot.distanceInKilometers">Unknown</span>
          </td>
        </tr>
        <tr *ngIf="spot.cyclingAccessibility">
          <td class="px-4 py-4 border md:px-8">ETA</td>
          <td class="px-4 py-4 font-bold border md:px-8">
            <span *ngIf="cyclingEstimatedTime" class="mr-4"
              >{{
                cyclingEstimatedTime.estimatedArrivalTimestamp | dateTimeFormat
              }}
              ({{
                cyclingEstimatedTime.estimatedArrivalHours | timeFormat
              }})</span
            >
            <span *ngIf="!cyclingEstimatedTime" class="mr-4">Unknown</span>
            <button
              type="button"
              class="px-4 py-2 text-sm text-white bg-teal-500 rounded disabled:bg-teal-200 disabled:text-gray-200"
              *ngIf="spot.distanceInKilometers"
              (click)="getCyclingEstimatedTime()"
              [disabled]="isCalculating"
            >
              Estimate
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <form
      *ngIf="spot.cyclingAccessibility"
      [formGroup]="calculateDistanceForm"
      class="flex flex-col items-center justify-start w-full gap-4 md:w-1/2"
    >
      <div class="flex flex-col items-start justify-start w-full gap-2">
        <div class="flex items-center justify-between w-full gap-4">
          <label for="cyclingSpeed" class="w-full">Cycling Speed (km/h)</label>
          <input
            type="number"
            name="cyclingSpeed"
            formControlName="cyclingSpeed"
            min="0"
            class="w-full px-1 py-1 border border-slate-200"
          />
        </div>
        <span
          *ngIf="
            calculateDistanceForm.get('cyclingSpeed')?.getError('required')
          "
          class="text-sm italic text-red-400"
        >
          Cycling speed is required
        </span>
        <span
          *ngIf="calculateDistanceForm.get('cyclingSpeed')?.getError('min')"
          class="text-sm italic text-red-400"
        >
          Cycling speed must be greater than
          {{ calculateDistanceForm.get("cyclingSpeed")?.getError("min").min }}
        </span>
      </div>
      <div class="flex flex-col items-start justify-start w-full gap-2">
        <div class="flex items-center justify-between w-full gap-4">
          <label for="dailyCyclingHours" class="w-full"
            >Daily cycling hours</label
          >
          <input
            type="number"
            name="dailyCyclingHours"
            formControlName="dailyCyclingHours"
            min="0"
            max="24"
            class="w-full px-1 py-1 border border-slate-200"
          />
        </div>
        <span
          *ngIf="
            calculateDistanceForm.get('dailyCyclingHours')?.getError('required')
          "
          class="text-sm italic text-red-400"
        >
          Daily cycling hours is required
        </span>
        <span
          *ngIf="
            calculateDistanceForm.get('dailyCyclingHours')?.getError('min')
          "
          class="text-sm italic text-red-400"
        >
          Daily cycling hours must be greater than
          {{
            calculateDistanceForm.get("dailyCyclingHours")?.getError("min").min
          }}
        </span>
        <span
          *ngIf="
            calculateDistanceForm.get('dailyCyclingHours')?.getError('max')
          "
          class="text-sm italic text-red-400"
        >
          Daily cycling hours must be greater than or equal to
          {{
            calculateDistanceForm.get("dailyCyclingHours")?.getError("max").max
          }}
        </span>
      </div>
      <button
        type="button"
        class="px-4 py-2 text-sm font-bold text-white bg-purple-500 rounded disabled:bg-purple-200 disabled:text-gray-200"
        (click)="calculateDistance()"
        [disabled]="isCalculating"
      >
        Calculate
      </button>
    </form>
  </div>
  <div *ngIf="!isLoading && !spot">
    <span class="text-xl font-bold text-red-500">{{ error }}</span>
  </div>
</div>
